.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 100%;
}

.form-image > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column
}

.form-image p {
  font-size: xx-large;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: rgb(39, 39, 39);
}

.form-field h2 {
  color: #ffffff;
}

.form-field-input {
  margin: 50px 0;
}

.form-field-input div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.form-field-input input {
  width: 300px;
  height: 50px;
}