.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(79, 33, 198);
  color: #ffffff;
  font-weight: bolder;
  padding: 0 30px;
  font-size: xx-large;
}

.header-right {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  font-size: x-large;
}